.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  
}

header {
  animation: aparecer .3s forwards ease-in-out
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: aparecer .3s forwards ease-in-out
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;

  

}

.movie {
  text-align: center;
  animation: aparecer .3s forwards ease;
  
}
@keyframes aparecer {
  from { 
    opacity: 0;
    transform: translateY(+100px);
        }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.movie h1, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
  transition: .2s;
  
  &:hover {
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.5);
  }

}